{% extends 'base.html' %} {% load static %} {%load crispy_forms_tags %}
{% block content %}

<div class="mb-3">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

      <h3> My Profile: {{request.user|title}} </h3>
  </div>
<hr>
<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{profile.avatar.url}}" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Username: {{profile.user}} </h4>
                                <p>{{profile.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.first_name}}                          
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.last_name}}                          
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.gender}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Birthday</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.birth_date}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Country</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.country}}
                            </div>
                        </div>
                        <hr>

                       
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<!-- Button trigger modal -->
<button  type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
Update Your Profile
</button>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Your Profile </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{{profile.avatar.url}}"  style="width:100%;max-width:200px"> 
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form|crispy }}
                <div class="mt-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>     

            </form>
        </div>     

      </div>
    </div>
  </div>
  

  <br> <br>

{% endblock %}
